<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="home.html">My Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              
              <li class="nav-item ms-auto">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-user"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>   

    <main class="flex-grow-1">
        <div class="container mt-5">
            <h1 class="text-center mb-5">My Hobbies</h1>
            
            <div class="row">
                
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="overflow: hidden; border: none;"> 
                        <img src="../resources/img/skiing.jpg" class="card-img-top" alt="Skiing" style="height: 225px; object-fit: cover; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Skiing</h5>
                            <p class="card-text">I love going up and down the slopes here in Colorado. Early morning drives to the mountain with my friends just to spend the whole day skiing without a care in the world. It is easily my favourite part of living here.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="overflow: hidden; border: none;">
                        <img src="../resources/img/music.jpg" class="card-img-top" alt="Music" style="height: 225px; object-fit: cover; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Music</h5>
                            <p class="card-text">There hasn't been a day in recent memory where I haven't been listening to some sort of music. It's the soundtrack to my morning, it's in the background to help me study, and I don't know if I could live without it. I love discovering new tracks and artists to add to my collection. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="overflow: hidden; border: none;">
                        <img src="../resources/img/movies.jpg" class="card-img-top" alt="Movies" style="height: 225px; object-fit: cover; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Movies</h5>
                            <p class="card-text">I'm a huge film buff (pun intended). I try to watch at least one new movie every week and my watchlist has no end in sight. Like music, I don't know if I could live without movies. There is nothing quite like watching that movie you've been excited to see for months on opening night with your closest friends. There are so many things that can and will happen in my life, but for two hours on the occasional Friday, the world shrinks down to the size of a cinema screen, a large popcorn, and a cold Dr. Pepper.</p>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-4 mt-auto">
        <div class="container">
            <p class="mb-2">Connect with me:</p>
            <div class="mb-3">
                <a href="https://github.com/ayubahmed1" class="text-white mx-2"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/ayub-ahmed-132408240/" class="text-white mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://letterboxd.com/ayub_ahmed" class="text-white mx-2"><i class="fab fa-letterboxd fa-2x"></i></a>
            </div>
            <p class="small mb-0">&copy; 2026 Ayub Ahmed. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>